<div>
  <mat-list>
    <mat-list-item *ngFor="let chat of getChats()">
      <img matListAvatar style="max-height: 25px; max-width: 25px;" [src]="chat.Icon">
      <h3 matLine>{{chat.Name}}</h3>
    </mat-list-item>
  </mat-list>
</div>